In [1]:
import pandas as pd

In [2]:
!ls

Dec22_details_df.csv
Dec22_investigated_inspections_df.csv
Dec22_related_activity_df.csv
Dec22_violation_items_df.csv
Dec22_violation_summary_df.csv
Dec22Wal_activities_df.csv
Dec22Walmart_toDropDuplicates.csv
Dec22Walmart_TOTAL_CurrentPenalty.csv
Final-Scrape-Walmart.ipynb
Fines_Walmart-AfterDropDuplicatestoEnd.ipynb
Fines_Walmart-toDropDuplicates.ipynb
Joining_dfs_Walmart-Final.ipynb

In [3]:
df = pd.read_csv("Dec22Walmart_toDropDuplicates.csv")

In [4]:
df

,Unnamed: 0,Activity,Opened,RID,St,Type,Sc,SIC_x,NAICS_x,Vio,...,Note,Planning Guide,Violations/Penalties,Serious,Willful,Repeat,Other,Unclass,Total,activity_code_y
0,0,1.617962e+06,08/29/2022,552652,MI,Complaint,Partial,NaN,445110,1,...,NaN,NaN,Current Penalty,$0,$0,$0,$0,$0,$0,1.617962e+06
1,1,1.617558e+06,08/25/2022,951510,HI,Prog Other,Complete,NaN,722513,1,...,NaN,NaN,Current Penalty,$0,$0,$0,$0,$0,$0,1.617558e+06
2,2,1.618144e+06,08/24/2022,452110,KY,Planned,Records,5411.0,445110,1,...,NaN,NaN,Current Penalty,$0,$0,$0,"$5,000",$0,"$5,000",1.618144e+06
3,3,1.616220e+06,08/22/2022,552652,MI,Complaint,Partial,NaN,445110,1,...,NaN,NaN,Current Penalty,"$2,250",$0,$0,$0,$0,"$2,250",1.616220e+06
4,4,1.606171e+06,07/06/2022,213400,NJ,Referral,Partial,NaN,452319,2,...,NaN,NaN,Current Penalty,"$29,004",$0,$0,$0,$0,"$29,004",1.606171e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,325,3.129146e+08,04/06/2010,950625,CA,Complaint,Partial,5311.0,452112,3,...,NaN,NaN,Current Penalty,$0,$0,$0,$845,$0,$845,3.129146e+08
326,326,3.134090e+08,03/10/2010,728500,MO,Planned,Complete,5311.0,452111,1,...,NaN,NaN,Current Penalty,"$2,500",$0,$0,$0,$0,"$2,500",3.134090e+08
327,327,3.134539e+08,02/16/2010,257220,PR,Referral,Partial,5311.0,452111,1,...,NaN,NaN,Current Penalty,$0,$0,$0,$0,$0,$0,3.134539e+08
328,328,3.139923e+08,01/11/2010,214200,NJ,Complaint,Partial,5399.0,452990,1,...,NaN,NaN,Current Penalty,$900,$0,$0,$0,$0,$900,3.139923e+08
329,329,3.131530e+08,01/06/2010,522500,OH,Complaint,Partial,5311.0,452111,6,...,NaN,NaN,Current Penalty,$0,$0,$0,"$3,250",$0,"$3,250",3.131530e+08

In [5]:
df['year'] = pd.to_datetime(df['Open Date'], format='%m/%d/%Y')

In [6]:
df['simple_year'] = df['year'].dt.year

In [7]:
df.Total = df.Total.astype(str)

In [8]:
df.Total = df.Total.str.replace("$", "")

C:\Users\Juhana\AppData\Local\Temp\ipykernel_9132\1384840350.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.Total = df.Total.str.replace("$", "")

In [9]:
df.Total = df.Total.str.replace(",", "")

In [10]:
df.Total = df.Total.astype(int)

In [11]:
dgfines_df = df.groupby('simple_year')['Total'].sum()

In [12]:
dgfines_df

simple_year
2010     44576
2011    263470
2012     27864
2013     70638
2014     79690
2015     77770
2016     53893
2017     93358
2018    127494
2019    158938
2020    172625
2021    236767
2022    177313
Name: Total, dtype: int32

In [13]:
new_df = dgfines_df.to_frame(name='fines')

In [14]:
new_df

              fines
simple_year
2010          44576
2011         263470
2012          27864
2013          70638
2014          79690
2015          77770
2016          53893
2017          93358
2018         127494
2019         158938
2020         172625
2021         236767
2022         177313

In [15]:
new_df.to_csv('Dec22Walmart_CurrentPenalty_Final.csv', index=False)

In [16]:
!ls

Dec22_details_df.csv
Dec22_investigated_inspections_df.csv
Dec22_related_activity_df.csv
Dec22_violation_items_df.csv
Dec22_violation_summary_df.csv
Dec22Wal_activities_df.csv
Dec22Walmart_CurrentPenalty_Final.csv
Dec22Walmart_toDropDuplicates.csv
Dec22Walmart_TOTAL_CurrentPenalty.csv
Final-Scrape-Walmart.ipynb
Fines_Walmart-AfterDropDuplicatestoEnd.ipynb
Fines_Walmart-toDropDuplicates.ipynb
Joining_dfs_Walmart-Final.ipynb