In [5]:
import pandas as pd

In [6]:
!ls

Dec22DT_toDropDuplicates.csv
Dec22DT_TOTAL_CurrentPenalty_master.csv
Fines_DollarTree-AfterDropDuplicatestoEnd.ipynb
Fines_DollarTree-toDropDuplicates.ipynb
Joining_dfs_DollarTree-Final.ipynb

In [7]:
df = pd.read_csv("Dec22DT_toDropDuplicates.csv")

In [8]:
df

,Unnamed: 0,Activity,Opened,RID,St,Type,Sc,SIC_x,NAICS_x,Vio,...,Keywords,Planning Guide,Violations/Penalties,Serious,Willful,Repeat,Other,Unclass,Total,activity_code_y
0,0,1.616331e+06,08/22/2022,453720,NC,Complaint,Partial,5331.0,452990,6,...,NaN,NaN,Current Penalty,$0,$0,"$42,000",$0,$0,"$42,000",1.616331e+06
1,1,1.618010e+06,08/10/2022,316400,WV,Complaint,Partial,NaN,452319,1,...,NaN,NaN,Current Penalty,"$6,215",$0,$0,$0,$0,"$6,215",1.618010e+06
2,2,1.612868e+06,08/05/2022,953210,NV,Referral,Partial,NaN,452319,1,...,NaN,NaN,Current Penalty,"$2,245",$0,$0,$0,$0,"$2,245",1.612868e+06
3,3,1.611611e+06,08/01/2022,1054111,OR,Complaint,Partial,5331.0,452990,5,...,NaN,NaN,Current Penalty,$0,$0,"$33,000",$0,$0,"$33,000",1.611611e+06
4,4,1.610668e+06,07/27/2022,1054111,OR,Complaint,Partial,5331.0,452990,1,...,NaN,NaN,Current Penalty,$0,$0,$0,$0,$0,$0,1.610668e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,426,3.114835e+08,01/29/2010,155010,VT,Complaint,Partial,5331.0,452990,1,...,NaN,Health-Manufacturing,Current Penalty,$0,$0,$0,$0,$0,$0,3.114835e+08
427,427,3.134076e+08,01/29/2010,728500,MO,Complaint,Partial,5331.0,452990,1,...,NaN,NaN,Current Penalty,"$2,250",$0,$0,$0,$0,"$2,250",3.134076e+08
428,428,1.606471e+06,07/01/2022,1055330,WA,Referral,Partial,NaN,561730,1,...,NaN,NaN,Current Penalty,$900,$0,$0,$0,$0,$900,1.606471e+06
429,429,1.569668e+06,12/17/2021,418800,FL,Fat/Cat,Complete,NaN,112120,3,...,"caught between, crushed, hydraulic, loader",NaN,Current Penalty,"$5,801",$0,$0,$0,$0,"$5,801",1.569668e+06
430,430,1.189516e+06,11/07/2016,355112,VA,Planned,Partial,NaN,561730,2,...,NaN,NaN,Current Penalty,$315,$0,$0,$0,$0,$315,1.189516e+06

In [9]:
df['year'] = pd.to_datetime(df['Open Date'], format='%m/%d/%Y')

In [10]:
df['simple_year'] = df['year'].dt.year

In [11]:
df.Total = df.Total.astype(str)

In [12]:
df.Total = df.Total.str.replace("$", "")

C:\Users\Juhana\AppData\Local\Temp\ipykernel_12172\1384840350.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.Total = df.Total.str.replace("$", "")

In [13]:
df.Total = df.Total.str.replace(",", "")

In [14]:
df.Total = df.Total.astype(int)

In [15]:
dgfines_df = df.groupby('simple_year')['Total'].sum()

In [16]:
dgfines_df

simple_year
2010     131663
2011     190012
2012      14185
2013     407970
2014     466860
2015     480696
2016     621416
2017     707511
2018    1584052
2019    5801451
2020    1679558
2021     995378
2022    3143062
Name: Total, dtype: int32

In [13]:
new_df = dgfines_df.to_frame(name='fines')

In [14]:
new_df

               fines
simple_year
2010           33667
2011           62625
2012           29034
2013           71255
2014          254609
2015          600071
2016         1165991
2017          220504
2018          166821
2019          287830
2020         1074248
2021         2231134
2022         7071681

In [15]:
new_df.to_csv('7-eleven-FinesFinal.csv', index=False)

In [16]:
!ls

7-eleven_activities_df.csv
7-eleven_details_df.csv
7-eleven_investigated_inspections_df.csv
7-eleven_related_activity_df.csv
7-eleven_violation_items_df.csv
7-eleven_violation_summary_df.csv
7-elevenAfterDropDuplicates.csv
7-eleven-FinesFinal.csv
Final_7-eleven_df.csv
Fines_7-eleven-AfterDropDuplicates.ipynb
Fines_7-Eleven-DropDuplicates.ipynb
Joining_dfs_7-eleven.ipynb