In [1]:
import pandas as pd

In [2]:
!ls

Dec22DG_activities_df.csv
Dec22DG_details_df.csv
Dec22DG_investigated_inspections_df.csv
Dec22DG_related_activity_df.csv
Dec22DG_toDropDuplicates.csv
Dec22DG_TOTAL_master.csv
Dec22DG_violation_items_df.csv
Dec22DG_violation_summary_df.csv
Final-Scrape-DollarGeneral.ipynb
Fines_DG-AfterDropDuplicatestoEnd.ipynb
Fines_DG-toDropDuplicates.ipynb
Joining_dfs_DG-Final.ipynb

In [3]:
df = pd.read_csv("Dec22DG_toDropDuplicates.csv")

In [4]:
df

,Unnamed: 0,Activity,Opened,RID,St,Type,Sc,SIC_x,NAICS_x,Vio,...,Keywords,Planning Guide,Violations/Penalties,Serious,Willful,Repeat,Other,Unclass,Total,activity_code_y
0,0,1.619753e+06,09/06/2022,452110,KY,Complaint,Partial,4225.0,493110,2,...,NaN,NaN,Current Penalty,$0,"$140,000",$0,$0,$0,"$140,000",1.619753e+06
1,1,1.617010e+06,08/25/2022,552652,MI,Complaint,Partial,NaN,452319,1,...,NaN,NaN,Current Penalty,$0,$0,$0,$0,$0,$0,1.617010e+06
2,2,1.609906e+06,07/25/2022,454716,TN,Complaint,Partial,NaN,452319,2,...,NaN,NaN,Current Penalty,$0,$0,"$6,750",$0,$0,"$6,750",1.609906e+06
3,3,1.607451e+06,07/13/2022,418100,GA,Complaint,Partial,NaN,445110,1,...,NaN,NaN,Current Penalty,$0,$0,$0,"$5,283",$0,"$5,283",1.607451e+06
4,4,1.601808e+06,06/14/2022,418400,GA,Complaint,Partial,NaN,452319,2,...,NaN,NaN,Current Penalty,$0,$0,"$290,054",$0,$0,"$290,054",1.601808e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,387,1.079844e+06,07/23/2015,419700,FL,Complaint,Partial,NaN,452990,2,...,NaN,NaN,Current Penalty,"$3,600",$0,$0,$0,$0,"$3,600",1.079844e+06
234,388,1.083884e+06,07/20/2015,418300,AL,Referral,Partial,NaN,452910,1,...,NaN,NaN,Current Penalty,$0,$0,$0,"$4,200",$0,"$4,200",1.083884e+06
235,389,1.062209e+06,05/11/2015,729300,MO,Complaint,Partial,NaN,452112,2,...,NaN,NaN,Current Penalty,$0,$0,"$27,500",$550,$0,"$28,050",1.062209e+06
236,390,3.167852e+08,08/14/2013,453710,NC,Complaint,Partial,5331.0,452990,2,...,NaN,Health-Manufacturing,Current Penalty,$0,$0,$0,$0,$0,$0,3.167852e+08
237,391,3.140213e+08,01/14/2010,453730,NC,Planned,Complete,5311.0,452112,6,...,NaN,Safety-Manufacturing,Current Penalty,$0,$0,$0,$975,$0,$975,3.140213e+08

In [5]:
df['year'] = pd.to_datetime(df['Open Date'], format='%m/%d/%Y')

In [6]:
df['simple_year'] = df['year'].dt.year

In [7]:
df.Total = df.Total.astype(str)

In [8]:
df.Total = df.Total.str.replace("$", "")

C:\Users\Juhana\AppData\Local\Temp\ipykernel_6584\1384840350.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.Total = df.Total.str.replace("$", "")

In [9]:
df.Total = df.Total.str.replace(",", "")

In [10]:
df.Total = df.Total.astype(int)

In [11]:
dgfines_df = df.groupby('simple_year')['Total'].sum()

In [12]:
dgfines_df

simple_year
2010      33667
2011      62625
2012      29034
2013      71255
2014     254609
2015     600071
2016    1165991
2017     220504
2018     166821
2019     287830
2020    1074248
2021    2231134
2022    7071681
Name: Total, dtype: int32

In [13]:
new_df = dgfines_df.to_frame(name='fines')

In [14]:
new_df

               fines
simple_year
2010           33667
2011           62625
2012           29034
2013           71255
2014          254609
2015          600071
2016         1165991
2017          220504
2018          166821
2019          287830
2020         1074248
2021         2231134
2022         7071681

In [15]:
new_df.to_csv('7-eleven-FinesFinal.csv', index=False)

In [16]:
!ls

7-eleven_activities_df.csv
7-eleven_details_df.csv
7-eleven_investigated_inspections_df.csv
7-eleven_related_activity_df.csv
7-eleven_violation_items_df.csv
7-eleven_violation_summary_df.csv
7-elevenAfterDropDuplicates.csv
7-eleven-FinesFinal.csv
Final_7-eleven_df.csv
Fines_7-eleven-AfterDropDuplicates.ipynb
Fines_7-Eleven-DropDuplicates.ipynb
Joining_dfs_7-eleven.ipynb