In [1]:
!ls

Dec22DG_activities_df.csv
Dec22DG_details_df.csv
Dec22DG_investigated_inspections_df.csv
Dec22DG_related_activity_df.csv
Dec22DG_TOTAL_master.csv
Dec22DG_violation_items_df.csv
Dec22DG_violation_summary_df.csv
Final-Scrape-DollarGeneral.ipynb
FinesPath
Joining_dfs_DG-FinalViolations.ipynb
Violations_DG-AfterDropDuplicatestoEnd.ipynb
Violations_DG-toDropDuplicates.ipynb
ViolationsPath

In [2]:
import pandas as pd
pd.options.display.max_colwidth = None
pd.options.display.max_columns = None

In [13]:
df = pd.read_csv("Dec22DG_violation_items_df.csv")
df

,#,Citation ID,Citaton Type,Standard,Issuance Date,Abatement Due Date,Current Penalty,Initial Penalty,FTA Penalty,Contest,Latest Event,Note,activity_code
0,1.0,1001,Willful,2.181(3)(4)(A),11/16/2022,11/21/2022,"$70,000","$70,000",$0,12/08/2022,C - Contested,NaN,1.619753e+06
1,2.0,1002,Willful,2.181(3)(4)(C),11/16/2022,11/21/2022,"$70,000","$70,000",$0,12/08/2022,C - Contested,NaN,1.619753e+06
2,1.0,01001A,Other,19100141 B01 I,09/21/2022,NaN,$0,$0,$0,NaN,Z - Issued,NaN,1.617010e+06
3,2.0,01001B,Other,19100141 C01 I,09/21/2022,NaN,$0,$0,$0,NaN,Z - Issued,NaN,1.617010e+06
4,1.0,1001,Repeat,19100037 A03,10/18/2022,10/31/2022,"$4,500","$5,000",$0,NaN,Z - Issued,NaN,1.609906e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,2.0,2001,Other,19100037 A04,02/04/2010,03/03/2010,$0,$0,$0,NaN,-,NaN,3.140213e+08
693,3.0,2002,Other,19100157 C01,02/04/2010,03/03/2010,$0,$0,$0,NaN,-,NaN,3.140213e+08
694,4.0,2003,Other,19100157 E02,02/04/2010,03/03/2010,$0,$0,$0,NaN,-,NaN,3.140213e+08
695,5.0,2004,Other,19100305 G01 IVA,02/04/2010,03/03/2010,$0,$0,$0,NaN,-,NaN,3.140213e+08
696,6.0,2005,Other,19101200 H01 I,02/04/2010,03/03/2010,$0,$0,$0,NaN,-,NaN,3.140213e+08

In [14]:
df['Standard'].value_counts(sort = True)

19100037 A03        105
19100157 C01         53
19100022 A01         52
19100303 G01 II      48
19100176 B           30
                   ...
19101001 J05 I        1
19101001 J03 III      1
19101001 J03 I        1
19101030 F02 I        1
19101200 H01 I        1
Name: Standard, Length: 175, dtype: int64