In [4]:
import pandas as pd

In [5]:
!ls

Dec22DG_toDropDuplicatesVIOLATIONS.csv
Dec22DG_TOTAL_VIOLATIONS_master.csv
Joining_dfs_DG-FinalViolations.ipynb
Violations_DG-AfterDropDuplicatestoEnd.ipynb
Violations_DG-toDropDuplicates.ipynb

In [6]:
df = pd.read_csv("Dec22DG_toDropDuplicatesVIOLATIONS.csv")

In [7]:
df

,Unnamed: 0,Activity,Opened,RID,St,Type,Sc,SIC_x,NAICS_x,Vio,...,Keywords,Planning Guide,Violations/Penalties,Serious,Willful,Repeat,Other,Unclass,Total,activity_code_y
0,0,1.619753e+06,09/06/2022,452110,KY,Complaint,Partial,4225.0,493110,2,...,NaN,NaN,Current Violations,NaN,2.0,NaN,NaN,NaN,2,1.619753e+06
1,1,1.617010e+06,08/25/2022,552652,MI,Complaint,Partial,NaN,452319,1,...,NaN,NaN,Current Violations,NaN,NaN,NaN,1.0,NaN,1,1.617010e+06
2,2,1.609906e+06,07/25/2022,454716,TN,Complaint,Partial,NaN,452319,2,...,NaN,NaN,Current Violations,NaN,NaN,2.0,NaN,NaN,2,1.609906e+06
3,3,1.607451e+06,07/13/2022,418100,GA,Complaint,Partial,NaN,445110,1,...,NaN,NaN,Current Violations,NaN,NaN,NaN,1.0,NaN,1,1.607451e+06
4,4,1.601808e+06,06/14/2022,418400,GA,Complaint,Partial,NaN,452319,2,...,NaN,NaN,Current Violations,NaN,NaN,2.0,NaN,NaN,2,1.601808e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,387,1.079844e+06,07/23/2015,419700,FL,Complaint,Partial,NaN,452990,2,...,NaN,NaN,Current Violations,2.0,NaN,NaN,NaN,NaN,2,1.079844e+06
234,388,1.083884e+06,07/20/2015,418300,AL,Referral,Partial,NaN,452910,1,...,NaN,NaN,Current Violations,NaN,NaN,NaN,1.0,NaN,1,1.083884e+06
235,389,1.062209e+06,05/11/2015,729300,MO,Complaint,Partial,NaN,452112,2,...,NaN,NaN,Current Violations,NaN,NaN,1.0,1.0,NaN,2,1.062209e+06
236,390,3.167852e+08,08/14/2013,453710,NC,Complaint,Partial,5331.0,452990,2,...,NaN,Health-Manufacturing,Current Violations,NaN,NaN,NaN,2.0,NaN,2,3.167852e+08
237,391,3.140213e+08,01/14/2010,453730,NC,Planned,Complete,5311.0,452112,6,...,NaN,Safety-Manufacturing,Current Violations,NaN,NaN,NaN,6.0,NaN,6,3.140213e+08

In [8]:
df['year'] = pd.to_datetime(df['Open Date'], format='%m/%d/%Y')

In [9]:
df['simple_year'] = df['year'].dt.year

In [10]:
df.Total = df.Total.astype(str)

In [11]:
df.Total = df.Total.str.replace("$", "")

C:\Users\Juhana\AppData\Local\Temp\ipykernel_6212\1384840350.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.Total = df.Total.str.replace("$", "")

In [12]:
df.Total = df.Total.str.replace(",", "")

In [13]:
df.Total = df.Total.astype(int)

In [14]:
dgfines_df = df.groupby('simple_year')['Total'].sum()

In [15]:
dgfines_df

simple_year
2010     29
2011     25
2012     12
2013     24
2014     52
2015     51
2016     55
2017     21
2018     15
2019     48
2020     45
2021     64
2022    114
Name: Total, dtype: int32

In [16]:
new_df = dgfines_df.to_frame(name='violations')

In [17]:
new_df

             violations
simple_year
2010                 29
2011                 25
2012                 12
2013                 24
2014                 52
2015                 51
2016                 55
2017                 21
2018                 15
2019                 48
2020                 45
2021                 64
2022                114

In [18]:
new_df.to_csv('Dec22DG_Final_CurrentViolations.csv', index=False)

In [19]:
!ls

Dec22DG_Final_CurrentViolations.csv
Dec22DG_toDropDuplicatesVIOLATIONS.csv
Dec22DG_TOTAL_VIOLATIONS_master.csv
Joining_dfs_DG-FinalViolations.ipynb
Violations_DG-AfterDropDuplicatestoEnd.ipynb
Violations_DG-toDropDuplicates.ipynb